.bg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 730px;
    position: relative;
    top: 0;
    left: 0;
}

.logo{
    left: 88vh;
    top: 35vh;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}